<div class="card">
  <% @questions.each do |question| %>
        <li><%= question.question %></li>
<% end %>
</div>

<div class="card">
  <h4>About Us</h4>
  <p>"What, you think this isn't real just because of all the vampires, and demons, and ex-vengeance demons, and the sister that used to be a big ball of universe-destroying energy? It was the pioneer days; people had to make their own interrogation rooms. Out of cornmeal. Frankly, it's ludicrous to have these interlocking bodies and not...interlock."</p>
  <p>I figure, if I'm responsible for the end of the world, I get to name it. Who's calling me? Everybody I know lives here. I saw their production of 'Giselle' in 1890. I wept like a baby, and I was evil! Somebody put her tiny little thinking cap on! My Uncle Rory was the stodgiest taxidermist you've ever met by day. And you know the monkey's just,'I mock you with my monkey pants!' And what's with all the carrots? How did your brain even learn human speech? I'm just so curious. Shh! No programs, don't use that word. Just be.</p>
</div>
